.notFound{display: block; margin: 0 auto; }
.navbar{background-color: rgb(231, 231, 139);}
.navbar .menu{display: inline-block; border: 1px solid gray; background-color: tomato; color: #fff; padding: 15px;}